.header-image {
    height:40vh;
    width:100%;
    background-image: url("../assets/home-image.jpg");
    background-position: center 35%;
}

.header-image-oradores {
    height:40vh;
    width:100%;
    background-image: url("../assets/oradores-img.jpg");
    background-position: center 60%;
}

.header-image-sponsors {
    height:40vh;
    width:100%;
    background-image: url("../assets/sponsors.jpg");
    background-position: center 55%;
}

.header-image-como-llegar {
    height:40vh;
    width:100%;
    background-image: url("../assets/como-llegar.jpg");
    background-position: center 35%;
}

