.sponsor-logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    margin-top: 2rem;
}
div img {
       width:120px;
       height: auto;
       justify-content: space-between;
    }

    h2 {
        margin: 2rem 0px;
        
    }